body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0b1d0a;
  color: #9efc9e;
  font-family: 'Courier New', monospace;
}

h1 {
  margin: 15px 0 5px;
  text-shadow: 0 0 8px #3aff3a;
}

/* canvas */
canvas {
  background-color: #001a00;
  border: 2px solid #3aff3a;
  width: 90vw; /* کمی کوچکتر از قبل برای دیدن کامل */
  height: auto;
  max-width: 400px;
  margin-top: 10px;
  box-shadow: 0 0 20px #3aff3a80;
}

/* دکمه شروع بازی */
#start-btn {
  margin-top: 15px;
  font-size: 20px;
  padding: 10px 25px;
  background-color: #3aff3a20;
  color: #9efc9e;
  border: 2px solid #3aff3a;
  border-radius: 10px;
  font-family: 'Courier New', monospace;
  box-shadow: 0 0 10px #3aff3a80;
}
#start-btn:active {
  background-color: #3aff3a40;
}

/* کنترل نوکیا */
#nokia-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.control-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nokia-controls button {
  width: 60px;
  height: 60px;
  margin: 5px;
  font-size: 26px;
  font-weight: bold;
  color: #9efc9e;
  background: radial-gradient(circle at 30% 30%, #0f3, #040);
  border: 2px solid #3aff3a;
  border-radius: 50%;
  box-shadow: inset 0 0 8px #3aff3a, 0 2px 5px #000;
  transition: all 0.1s;
}

#nokia-controls button:active {
  transform: scale(0.9);
  background: radial-gradient(circle at 70% 70%, #060, #0f3);
}

/* دایره وسطی */
.center-circle {
  width: 50px;
  height: 50px;
  border: 2px solid #3aff3a;
  border-radius: 50%;
  margin: 5px;
  background: radial-gradient(circle, #002200, #000);
  box-shadow: inset 0 0 8px #3aff3a;
}